@model Models.Framework.HocVu
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

	<div class="card-body">
		<div class="col-lg-8 mx-auto">
			<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->

			<table>
				<tr>
					<td height="20px"></td>
				</tr>
				<tr>
					<td class="align-text-top">
						<p><strong>Chọn đơn vị</strong></p>
						
						
					</td>
					<td width="400px">
						<div >
							@Html.DropDownListFor(model => model.DonViID, null,"--Chọn đơn vị--", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.DonViID, "", new { @class = "text-danger"})
							<br />
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="align-text-top" width="130px">
						<label><b>Chọn danh mục <br />yêu cầu</b></label>
					</td>
					<td width="400px">
						<div >
							@Html.DropDownListFor(model => model.DanhMucID, new SelectList(" "), "--Chọn danh mục--", new { @class = "form-control", @onChange = "selectedtext(this)" })
							@Html.ValidationMessageFor(model => model.DanhMucID, "", new { @class = "text-danger" })
							<br />
						</div>
					</td>
				</tr>
				<tr>
					<td class="align-text-top">
						<label><b>Yêu cầu thêm</b></label>
					</td>
					<td width="400px">
						@Html.TextAreaFor(m => m.YeuCauThem, new { @class = "form-control", @cols = 10, @rows = 5 })

						@Html.ValidationMessageFor(m => m.YeuCauThem)
						<br />
					</td>
				</tr>
				<tr>
					<td class="align-text-top">
						<label><b>Ngày hẹn</b></label>
					</td>
					<td width="400px">
						<div >
							@Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })
							<br />
						</div>
					</td>
				</tr>
				
				<tr>
					<td class="align-text-top">
						<label><b>Yêu cầu đã gửi</b></label>
					</td>
					<td width="400px">
						
						@Html.DropDownListFor(model => model.ParentID, new SelectList(" "), "--Số lần gửi--", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
						<br />
					</td>
				</tr>
				<tr>
					<td></td>
					<td class="text-sm-right">
						<button class="btn btn-primary" id="sendMessageButton" type="submit">Gửi</button>
					</td>
					
				</tr>
			</table>
		</div>
	</div>
}
	@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
	
	<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script>
	$(document).ready(function () {
		$("#DanhMucID").change(function () {
			$.get("/Home/GetParentID", { DanhMucID: $("#DanhMucID").val() }, function (data) {
				$("#ParentID").empty();
				$.each(data, function (index, row) {
					var a = row.ParentID + 1;
					if (row.ParentID != null) {
						var b = "Lần thứ " + a;
					} else {
						b = "Lần đầu tiên";
					}
					$("#ParentID").append("<option value='" + row.ParentID + "'>" + b + "</option>")
				});
			});
		})
	});
</script>

<script>
	$(document).ready(function () {
		$("#DonViID").change(function () {
			$.get("/Home/GetDanhMucList", { DonViID: $("#DonViID").val() }, function (data) {
				$("#DanhMucID").empty();
				$.each(data, function (index, row) {
					$("#DanhMucID").append("<option value='" + row.DanhMucID + "'>" + row.TenDanhMuc + "</option>")
				});
			});
		})
	});
</script>

