@model Models.Framework.HocVu
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

	<div class="card-body">
		<div class="col-lg-8 mx-auto">
			<!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->

			<table>
				<tr>
					<td height="20px"></td>
				</tr>
				<tr>
					<td>
						<label><b>Chọn phòng</b></label>
					</td>
					<td>
						<div class="col-md-10">
							@Html.DropDownListFor(model => model.DonViID, null,"--Chọn đơn vị--", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.DonViID, "", new { @class = "text-danger" })

						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label><b>Chọn danh mục yêu cầu</b></label>
					</td>
					<td>
						<div class="col-md-10 ">
							@Html.DropDownListFor(model => model.DanhMucID, new SelectList(" "), "--Chọn danh mục--", new { @class = "form-control", @onChange = "selectedtext(this)" })
							@Html.ValidationMessageFor(model => model.DanhMucID, "", new { @class = "text-danger" })
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label><b>Yêu cầu thêm</b></label>
					</td>
					<td>
						@Html.TextAreaFor(m => m.YeuCauThem, new { @class = "form-control col-md-10", @cols = 10, @rows = 5 })

						@Html.ValidationMessageFor(m => m.YeuCauThem)
					</td>
				</tr>
				<tr>
					<td>
						<label><b>Ngày hẹn</b></label>
					</td>
					<td>
						<div class="col-md-10">
							@Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })
						</div>
					</td>
				</tr>
				
				<tr>
					<td>
						<label><b>Yêu cầu đã gửi</b></label>
					</td>
					<td>
						@*<input type="text" id="txt" readonly="readonly"/>*@
						@Html.DropDownListFor(model => model.ParentID, new SelectList(" "), "--Chọn danh mục--", new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.ParentID, "", new { @class = "text-danger" })
					</td>
				</tr>
				<tr>
					<td>
						<button class="btn btn-primary" id="sendMessageButton" type="submit">Gửi</button>
					</td>
					<td>
						<button class="btn btn-primary" id="sendMessageButton" type="submit">Hủy</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
}
	@*<input type="text" id="txt" readonly="readonly" />*@
	@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
	
	<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script>
	$(document).ready(function () {
		$("#DanhMucID").change(function () {
			$.get("/Home/GetParentID", { DanhMucID: $("#DanhMucID").val() }, function (data) {
				$("#ParentID").empty();
				$.each(data, function (index, row) {
					var a = row.ParentID + 1;
					if (row.ParentID != null) {
						var b = "Lần thứ " + a;
					} else {
						b = "Lần đầu tiên";
					}
					$("#ParentID").append("<option value='" + row.ParentID + "'>" + b + "</option>")
				});
			});
		})
	});
</script>

<script>
	$(document).ready(function () {
		$("#DonViID").change(function () {
			$.get("/Home/GetDanhMucList", { DonViID: $("#DonViID").val() }, function (data) {
				$("#DanhMucID").empty();
				$.each(data, function (index, row) {
					$("#DanhMucID").append("<option value='" + row.DanhMucID + "'>" + row.TenDanhMuc + "</option>")
				});
			});
		})
	});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	function selectedtext(ddlitem) {
		var selvalue = ddlitem.value;
		var seltext = ddlitem.options[ddlitem.selectedIndex].innerHTML;
		$('#txt').val(seltext);
	}
</script>
