@model PagedList.IPagedList<Models.ViewModel.HocVuViewModel>

@*@model Models.ViewModel.HocVuViewModel*@
@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
	Danh sách học vụ
}
@section jsFooter{
	<script src="/Assets/admin/js/controller/hocvuController.js"></script>
}
@using (Html.BeginForm("Index", "HocVu", FormMethod.Get))
{

	<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
		<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
			<table>
				<tbody>
					<tr>
						<td>Tên người dùng</td>
						<td><input type="text" class="form-control bg-light small" aria-label="Search" aria-describedby="basic-addon2" name="searchUser" value="@ViewBag.searchUser"></td>
						<td>Đơn vị</td>
						<td>
							<div>
								@Html.DropDownList("searchString", new SelectList((IEnumerable<SelectListItem>)ViewBag.listDonVi, "Value", "Text", ViewBag.SearchString), new { @class = "form-control input-group" })
							</div>
						</td>
						<td>
							<div class="input-group-append">
								<button class="btn btn-primary" type="submit" id="submit">
									<i class="fas fa-search fa-sm"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</nav>
}
@*<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-bordered dataTable" width="100" cellpadding="0" role="grid" style="width: 100%;" id="myTable">
								<thead>
									<tr>
										<th>Ngày tạo</th>
										<th>Yêu cầu thêm</th>
										<th>Ngày hẹn</th>
										<th>Đơn vị</th>
										<th>Danh mục</th>
										<th>User</th>
										<th>Vai trò</th>
										<th>Tình trạng</th>
										<th>#</th>
									</tr>
								</thead>

								<tbody>

									@foreach (var item in Model)
									{
										<tr id="row_@item.HocVuID" role="row" class="old">
											<td>@(item.NgayTao.HasValue ? item.NgayTao.Value.ToString("dd/MM/yyyy hh:mm tt") : "")</td>
											<td>@item.YeuCauThem</td>
											<td>@(item.NgayHen.HasValue ? item.NgayHen.Value.ToString("dd/MM/yyyy") : "")</td>
											<td>@item.TenDonVi</td>
											<td>@item.TenDanhMuc</td>
											<td>@item.UserName</td>
											<td>@item.TenVaiTro</td>
											<td><a href="#" class="btn-active" data-id="@item.HocVuID">@(item.TinhTrang == true ? "Hoàn thành" : "Chưa hoàn thành")</a></td>


											<td>
												<a href="/Admin/HocVu/Edit/@item.HocVuID">Sửa</a>
												|
												@Ajax.ActionLink("Xóa", "Delete",new { @id = item.HocVuID}, new AjaxOptions
										   {
											   Confirm = "Bạn có muốn xóa bản ghi này?",
											   OnComplete= "$('#row_" + @item.HocVuID + "').remove()",
											   HttpMethod = "Delete"

										   })
												|
												<a href="/Admin/HocVu/Chat/@item.HocVuID">Chat</a>
												|
												<a href="/Admin/HocVu/Detai/@item.HocVuID">Detail</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
							<a href="@Url.Action("ExportToExcel","HocVu")">Export Excel</a>
							|
							<p> @Html.ActionLink("Print", "PrintAll")</p>
							@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString, @searchUser = ViewBag.searchUser }))

						</div>
					</div>
					@NestedData.GetHtml2(Model, 0)
				</div>
			</div>
		</div>
	</div>*@

<div class="card shadow mb-4">
	<div class="card-body">
		<div class="container">
			@NestedData.GetHtml2(Model, 0)
		</div>
		<a href="@Url.Action("ExportToExcel","HocVu")">Export Excel</a>
		|
		<p> @Html.ActionLink("Print", "PrintAll")</p>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString, @searchUser = ViewBag.searchUser }))


		<style>
			.container {
				min-width: 500px;
				overflow: auto;
			}

			.innerTable table {
				margin: 0px auto;
				border-left-width: 4px;
			}

			td.innerTable {
				padding-left: 20px !important;
			}

			.icon {
				background-image: url('../../Images/ui-icons_222222_256x240.png');
				background-repeat: no-repeat;
				width: 16px;
				height: 16px;
				display: inline-block;
				float: left;
			}

			.icon-e {
				background-position: -32px -16px
			}

			.icon-s {
				background-position: -64px -16px
			}
		</style>
	</div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
	if (typeof jQuery.fn.live == 'undefined' || !(jQuery.isFunction(jQuery.fn.live))) {
		jQuery.fn.extend({
			live: function (event, callback) {
				if (this.selector) {
					jQuery(document).on(event, this.selector, callback);
				}
			}
		});
	}
	$(document).ready(function () {
		$('.icon').click(function () {
			var $pRow = $(this).parents('tr');
			var $nextRow = $pRow.next('tr');
			$nextRow.toggle();
			$(this).toggleClass('icon-s icon-e');
		});
	});
</script>